# script configuration
#LOGLEVEL=INFO
# azure service principal
AZURE_CLIENT_ID=serviceprincial id
AZURE_CLIENT_SECRET=serviceprincipal password
AZURE_TENANT_ID=tenant id
# Azure AD configuration
AZURE_AD_GROUPS=comma separated list of aad group ids to get users from
the field of the aad user representing the users account name
#AZURE_AD_USERNAME_FIELD=userPrincipalName
# storage account containing the ssh public keys
STORAGE_ACCOUNT_RG=name of the resource group containing the storage account
STORAGE_ACCOUNT_NAME=name of the storage account containing the blob storage container
STORAGE_ACCOUNT_CONTAINER=name of the storage account container
# configuration for files in storage account
#SSH_KEYS_PREFIX=
#SH_KEYS_SUFFIX=.pub