# azure service principal
AZURE_CLIENT_ID=serviceprincial id
AZURE_CLIENT_SECRET=serviceprincipal password
AZURE_TENANT_ID=tenant id
# storage account containing the ssh public keys
STORAGE_ACCOUNT_RG=name of the resource group containing the storage account
STORAGE_ACCOUNT_NAME=name of the storage account containing the blob storage container
STORAGE_ACCOUNT_CONTAINER=name of the storage account container
# Azure AD configuration
AZURE_AD_GROUPS=comma separated list of aad group ids to get users from
AZURE_AD_USERNAME_FIELD=the field of the aad user representing the users account name, defaults to 'userPrincipalName'