##
# script configuration
##

# set the loglevel of the script
#LOGLEVEL=INFO
# set the sleep between syncs, in seconds
#SYNC_EVERY=600

##
# azure service principal
##

# azure service principal with permissions to query azure graph
# and the azure storage account
AZURE_CLIENT_ID=serviceprincial id
AZURE_CLIENT_SECRET=serviceprincipal password
AZURE_TENANT_ID=tenant id

##
# Azure AD configuration
##

# a space separated list of azure ad group object ids
AZURE_AD_GROUPS=space separated list of aad group ids to get users from
# the field of the aad user representing the users account name
#AZURE_AD_USERNAME_FIELD=userPrincipalName

##
# Azure Storage Account configuration
##

# storage account containing the ssh public keys
STORAGE_ACCOUNT_NAME=name of the storage account containing the blob storage container
STORAGE_ACCOUNT_CONTAINER=name of the storage account container

##
# SSH Public Keys in Storage account configuration
##

# filter keys by prefix
#SSH_KEYS_PREFIX=
# filter keys by suffix
#SSH_KEYS_SUFFIX=.pub


##
# Linux Group configuration
##

# the script checks membership of all azure ad users against this group
# e.g. all users created by the script will be added to this linux group on the linux server
#LINUX_GROUP_NAME=azure-ad-users-to-linux
# space separated list of additional linux groups the users should be added to
#ADDITIONAL_LINUX_GROUPS=
